
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    width: 150px;
}

.buscador {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.buscador img {
    width: 50%; 
}

.paneles {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 50%;
}

.fondoredondo {
    background-color: #f44336;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.fondoredondo:hover {
    background-color: #d32f2f; 
}

.iconsearch, .iconuser, .iconshop {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

nav {
    background-color: #444;
    width: 100%;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f44336;
}

.ubicacion-info {
    padding: 20px;
    text-align: center;
}

.ubicacion-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.ubicacion-info ul {
    list-style-type: none;
    padding: 0;
}

.ubicacion-info ul li {
    margin-bottom: 10px;
}

.ubicacion-info p, .ubicacion-info ul {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}


iframe {
    border-radius: 8px;
    margin-top: 20px;
}


footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: auto;
}
footer div {
    width: 30%;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #f44336;
}
